 SUPABASE_URL=https://tershtaofsynqiuifeiy.supabase.co
 SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlcnNodGFvZnN5bnFpdWlmZWl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MTg1NTcsImV4cCI6MjA5NTM5NDU1N30.kJV4FomGwqYPKtTT-EPC85crcUVPJhx2li-AYTVR4Uw